@using System.Configuration

@{
    ViewBag.Title = "Index Page";
}

<h2>@ViewBag.Title</h2>
<p></p>

<a class="navbar-brand" href="/">@ConfigurationManager.AppSettings["AppName"]</a>

    <section id="overview">
        <header>Demonstrating the Dev Ops model with Azure and Visual Studio</header>
    </section>


    <div id="accordion">
        <h3>Mark Tag</h3>
        <div>
            <p>
                I am going to  
                <mark>
                    mark this text
                </mark> 
                  using the mark tag
            </p>
        </div>
        <h3>Progress Tag 2</h3>
        <div>
            <p>
                Progress Tag
            </p>
            <p>
                <progress value="75" max="100"></progress>
            </p>
        </div>
        <h3>Meter Tag</h3>
        <div>
            <p>
                Meter Tag
            </p>
            <p>
                <meter value="6" min="0" max="10">
                    6 out of 10
                </meter>
            </p>
        </div>
    </div>
